@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <br />
    <br />
    <abbr title="Phone">P:</abbr>
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@wikiitservices.com">Support@wikiitservices.com</a><br />
    <strong>Sales:</strong> <a href="mailto:Sales@wikiitservices.com">Sales@wikiitservices.com</a>
</address>